body {
    font-family: Arial, sans-serif;
	font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    background-color: #f9f9f9;
	max-width: 900px;
	overflow: hidden;
}

.hidden {
    display: none;
}

@keyframes highScoreAnimation {
	0% { transform: scale(1); opacity: 1; }
	50% { transform: scale(1.5); opacity: 0.5; }
	100% { transform: scale(1); opacity: 1; }
}

#highScoreMessage {
	animation: highScoreAnimation 1s ease-in-out infinite;
	color: #ffd700;
	margin: 10px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
	width: 50%;
}

.score {
	float: right;
}

button {
	font-size: 16px;
	font-weight: 500;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

input {
    padding: 10px 20px;
    border: solid thin #007bff;
    border-radius: 5px;
}

#backNavigation {
	margin: 10px auto;
}

#backNavigation button, #quitGameBtn {
    background-color: #ff0000;
}

#backNavigation button:hover, #quitGameBtn:hover {
    background-color: #990000;
}

#endGameScreen {
	z-index: 99999;
}

/* Fireworks Animation */
#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('fireworks.gif') center center no-repeat;
    background-size: cover;
}

#leaderboard {
	width: auto;
	max-width: 40%;
	margin: 10px auto;
}

#leaderboardList {
	list-style-type: none;
	padding: 0;
}

#leaderboardList li{
	text-align: left;
}

#startGameBtn {
	background-color: #06aa0a;
}

#startGameBtn:hover{
	background-color: #015a05;
}
