body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0 auto;
	padding: 0;
	padding-top: 5vh;
	background-color: #f9f9f9;
	background-image:url("../img/nb8dkyx9.png");
	background-repeat: repeat;
	background-size: 15%;
	max-width: 900px;
	overflow: hidden;
}

.grid {
	display: grid;
	grid-template-columns: auto auto;
	gap: 40px;
	justify-content: center;
	margin: 40px auto;
	width: 50%;
}

.grid button {
    width: 150px;
    height: 150px;
    padding: 10px;
    text-align: center;
}

.hidden {
	display: none;
}

.modeBtn:first-child {
    background: #06c106 url("../img/add.png") center no-repeat;
}

.modeBtn:first-child:hover {
    background-color: #037003;
}

.modeBtn:nth-child(2) {
    background: #ff0000 url("../img/subtract.png") center no-repeat;
}

.modeBtn:nth-child(2):hover {
    background-color: #a60000;
}

.modeBtn:nth-child(3) {
    background: #ffa200 url("../img/multiply.png") center no-repeat;    
}

.modeBtn:nth-child(3):hover {
    background-color: #a16600;
}

.grid button:last-child {
	background-color: #337bff;
	background-image: url("../img/divide.png");
	background-repeat: no-repeat;
	background-position: center;
}

.score {
	float: right;
}

@keyframes highScoreAnimation {
	0% { transform: scale(1); opacity: 1; }
	50% { transform: scale(1.5); opacity: 0.5; }
	100% { transform: scale(1); opacity: 1; }
}

#highScoreMessage {
	animation: highScoreAnimation 1s ease-in-out infinite;
	color: #ff7700;
    text-decoration-style: solid;
	margin: 10px;
}

button {
	font-size: 20px;
	font-weight: 500;
    padding: 25px 35px;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 10px;
}

button:hover {
    background-color: #a16600;
}

input {
    font-size: 20px;
    padding: 10px 20px;
    border: solid thin #007bff;
    border-radius: 5px;
}

#backNavigation {
	margin: 20px auto;
}

#backNavigation button, #quitGameBtn {
    background-color: #ff0000;
}

#backNavigation button:hover, #quitGameBtn:hover {
    background-color: #990000;
}

#endGameScreen {
	z-index: 99999;
}

/* Fireworks Animation */
#fireworks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#introduction {
	text-align: justify;
	max-width: 420px;
	margin: 5% auto;
}

#leaderboard {
	width: auto;
	max-width: 40%;
	margin: 10px auto;
}

#leaderboardList {
	list-style-type: none;
	padding: 0;
}

#leaderboardList li{
	text-align: left;
}

#nameInputScreen button {
    padding: 10px 20px;
}

#startGameBtn {
	background-color: #06aa0a;
}

#startGameBtn:hover{
	background-color: #015a05;
}

#storyText {
    text-align: justify;
    max-width: 1024px;
    margin: 5% auto;
    padding: 0 20px;
}

#submitBtn {
    text-align: center;
    margin: 10px auto;
}

#gameScreen button {
    padding: 10px 20px;
}
